# Kickstart file for Oracle Linux 7
# It is optimized for preparation of a cloud image

install

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --ipv6=auto --activate --device=eth0
network  --hostname=localhost.localdomain

# System authorization information
authconfig --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --disable

# Root password
rootpw changeme

# System timezone
timezone America/New_York --isUtc

# System bootloader configuration
bootloader --location=mbr
autopart --type=plain
zerombr

# Partition clearing information
clearpart --all --initlabel
part / --fstype xfs --size=2400 --grow --asprimary

# Accept the eula
eula --agreed

# Reboot the machine after successful installation
reboot --eject

%packages
@core
deltarpm
openssh-clients
%end

%post
%end